services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    container_name: go-backend

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
